.alert{
    color: rgb(253, 0, 0);
    text-align: left;
    margin-top: 25px;
    font: 12px Verdana; 
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}