<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Mis Pedidos</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id Pedido</th>
                        <th>Plato</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tr class="text-center">
                    <td></td>
                    <td></td>
                    <td>
                        <button (click)="Atras()" class="btn btn-danger" style="float:left;">Atras</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>