
<ng-template #contenido let-modal>
    <div class="modal-header">
        <title>titulo modal</title>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span  aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        contenido de este modal
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sucess" (click)="modal.close()">OK!</button>
    </div>
</ng-template>

<button type="button" class="btn btn-outline-danger" (click)="openSM(contenido)">lanzar modal</button>