<div class="container" style="margin-top: 10px;">
    <div class="card">
        <div class="card header">
            <h3>Menu</h3>
            <button (click)="listarPedidos()" type="menu" class="btn btn-warning" >Ver Mis Pedidos</button>
        </div>
        <div class="card-body">
            <div>
                <div *ngIf = "restaurante.restabierto == true; else cerrado">
                    <strong><label style="margin-left: 900px;">Abierto</label></strong>
                    <label class="switch" style="margin-left: 900px;">
                        <input (click) = "cambiarEstadoRest()" id="estado" type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    
                </div>
                <ng-template #cerrado>
                    <strong><label style="margin-left: 900px;">Cerrado</label></strong>
                    <label class="switch" style="margin-left: 900px;">
                        <input (click) = "cambiarEstadoRest()" id="estado" type="checkbox">
                        cerrado
                        <span class="slider round"></span>
                    </label>
                    
                </ng-template>
            </div>   
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let plato of platos" class="text-center">
                        <td>{{plato.name}}</td>
                        <td>{{plato.description}}</td>
                        <td>{{plato.price}}</td>
                        <td></td>
                        <td>
                            <button (click) = "editPlato(plato)" class="btn btn-warning" style="margin-left: 10px;">Editar</button>
                            <button (click) = "delete(plato)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button (click) = "agregarPlato()" class="btn button">+Añadir nuevo plato</button>
        </div>
        
    </div>
</div>
