.modal-header{
    background: #FF0000;
}

.cantidad{
    border-radius: 15px;
    border: 1.5px solid black;
    height: 35px;
    width: 100px;
    margin-right: 80px;
    text-align: center;
    border-color: #FF0000;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.disminuir{
    border: 0px;
    background:transparent;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
}

.aumentar{
    border: none;
    background:none;
    position: absolute;
    margin-left: -97.5px;
    margin-top: 3px;
}