<div class="container" style="margin-top: 10px;">
    <div class="card">
        <div class="card header">
            <h3>{{restNombre}}</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let plato of platos" class="text-center">
                        <td>{{plato.name}}</td>
                        <td>{{plato.description}}</td>
                        <td>{{plato.price}}</td>
                        <td></td>
                        <td>
                            <button (click) = "openModalAgregarPlato(modalAgregarPlato, plato)" class="btn btn-danger" style="margin-left: 10px;">Ver</button>         
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="contenedorMiPedido">
    <div class="circle" id="circle">{{getNumeroItems()}}</div>
    <button class="miPedido" id="miPedido" (click)="modal.open(modalCarrito)">ver mi pedido</button>
</div>

<ng-template #modalAgregarPlato let-modal>
    <div class="modal-header">
        <h3>Personaliza tu plato</h3>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span  aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <h3>{{platoAux.name}}</h3>
            {{platoAux.description}}
        </div>
    </div>
    <div class="modal-footer">
        <div class="quantity">
            <button class="disminuir" (click)="disminuirInput(inputCantidad)">-</button>
            <input #inputCantidad type="number" class="cantidad" value="1" min="1" max="20" (change)="actualizarPrecio(inputCantidad)">     
            <button class="aumentar" (click)="aumentarInput(inputCantidad)">+</button>
        </div>
        <button type="button" class="btn btn-danger" (click)="agregarItem(modal.close())">Agregar a mi pedido ({{platoAux.price * cantidad}})</button>
    </div>
</ng-template>

<ng-template #modalCarrito let-modal>
    <div class="modal-header">
        <h3>Mi Pedido</h3>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span  aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor = "let item of pedido.getItems()" class="text-center">
                        <td>{{item.getcantidad_producto()}}X</td>
                        <td><strong>{{item.getnombre_product()}}</strong></td>         
                        <td>${{item.getprecio_item()}}</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center;"><strong>Total ${{pedido.getValorPedido()}}</strong>  </div>    
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="openModalTelDir(modalDirTel)">continuar</button>
    </div>
</ng-template>

<ng-template #modalDirTel let-modal>
    
    <div class="modal-header">
        <h3>Datos Personales</h3>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span  aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Direccion:</label>
            <input id="inputDireccion" type="text" class="form-control" [(ngModel)] = "pedido.direccion_pedido">
            <div class="alert">{{mensajeError("direccion")}}</div>
        </div> 
        <div class="form-group">
            <label>Telefono:</label>
            <input id="inputTelefono" type="number" class="form-control"  [(ngModel)] = "pedido.telefono_pedido">
            <div class="alert">{{mensajeError("telefono")}}</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="openModalMedioPago(modalMedioPago)">Siguiente</button>   
    </div>
</ng-template>
<ng-template #modalMedioPago let-modal>
    <div class="modal-header">
        <h3>Medio de Pago</h3>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span  aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label style="font-weight: bold;">Seleccione el medio de pago:</label>
        <div>
            <input type="checkbox" name="rad2" [checked]="value === 'Electronico'" (click)="value = 'Electronico'"> Pago Electronico
            <br>
            <input type="checkbox" name="rad3" [checked]="value === 'Contraentrega'" (click)="value = 'Contraentrega'"> Pago Contraentrega
        </div>
          <div *ngIf="value === 'Electronico' || value === 'Contraentrega'">
            <div class="modal-footer">
                <button id='btnFinalizar' type="button" class="btn btn-danger" (click)="finalizarPedido()">Finalizar</button> 
            </div>
          </div>   
          
    </div>
    
</ng-template>