.miPedido{
    margin-left: 80%;
    margin-top: 10px;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    background: #FF0000;
    color: white;
}

.circle{
    width: 25px;
    height: 25px;
    background-color: #ffaa00;
    border-radius: 100%;
    position: absolute;
    margin-left: 995px;
}

.circle:disabled,
.circle[disabled]{
    background: transparent;
    color: transparent;
}

.miPedido:disabled,
.miPedido[disabled]{
    background: gray;
    color: rgba(53, 44, 44, 0.767);
}

.modal-header{
    background: #FF0000;
}

.cantidad{
    border-radius: 15px;
    border: 1.5px solid black;
    height: 35px;
    width: 100px;
    margin-right: 80px;
    text-align: center;
    border-color: #FF0000;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.disminuir{
    border: 0px;
    background:transparent;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
    color: #FF0000;
}

.aumentar{
    border: none;
    background:none;
    position: absolute;
    margin-left: -97.5px;
    margin-top: 3px;
    color: #FF0000;
}

.alert{
    color: rgb(253, 0, 0);
    text-align: left;
    margin-top: -12px;
    font: 12px Verdana; 
}
.modal-header{
    color: #ffffff
}